[submodule "interviews/readify-toy-robot"]
	path = interviews/readify-toy-robot
	url = git@github.com:nchlswhttkr/readify-toy-robot.git
[submodule "interviews/monplan-challenge"]
	path = interviews/monplan-challenge
	url = git@github.com:nchlswhttkr/monplan-challenge.git
[submodule "interviews/localz-challenge"]
	path = interviews/localz-challenge
	url = git@github.com:nchlswhttkr/localz-challenge.git
[submodule "interviews/seek-grad-coding-challenge"]
	path = interviews/seek-grad-coding-challenge
	url = git@github.com:nchlswhttkr/seek-grad-coding-challenge.git
